@font-face {
  font-family: 'Candara';
  src: url('../assets/Candara.ttf');
}
@font-face {
  font-family: 'Candara_Bold';
  src: url('../assets/Candara_Bold.ttf');
}
.character .window-content, .equippableItem .window-content, .custom-dialog .window-content {
	background: url('../assets/OLD_PAPER_TEXTURE.jpg')center;
	background-repeat: no-repeat;
 	background-size: 100% 100%;
	padding:1rem;
	color: black;
}
.character h3, .equippableItem h3, .custom-dialog h3 {
	font-family: 'Candara_Bold';
	font-size:1.7em;
	color: black;
}
.character .grid {
	margin-top:0px;
	margin-bottom:0px;
}
.character input[type=text], .equippableItem input[type=text], .custom-dialog input[type=text]{
	box-shadow:0px 0px;
	color: black;
    background:transparent;
    border:1px solid black;
}
.character input[type=number], .equippableItem input[type=number], .custom-dialog input[type=number]{
	box-shadow:0px 0px;
	color: black;
    background:transparent;
    border:1px solid black;
}
.character select, .equippableItem select, .custom-dialog select{
	background:transparent;
	color: black;
    border:1px solid black;
}
.custom-system-user-inputs td button {
    color: black;
}
.character summary:before, .equippableItem summary:before, .custom-dialog summary:before {
	border-color: transparent transparent transparent #000000;
}
.character input[type="checkbox"]::before, .equippableItem input[type="checkbox"]::before, .custom-dialog input[type="checkbox"]::before {
    content:"";
    color: black;
    font-weight:normal;
}
.character  input[type="checkbox"]:checked::after, .equippableItem  input[type="checkbox"]:checked::after, .custom-dialog  input[type="checkbox"]:checked::after {
    content: "";
    color: transparent;
}
.character input[type="checkbox"]:checked::before, .equippableItem input[type="checkbox"]:checked::before,  .custom-dialog input[type="checkbox"]:checked::before {
    content: "";
    color: black;
}
.custom-dialog .form-group > label {
	color: black;
}
.character table, .equippableItem table, .custom-dialog table {
	background:transparent;
}
.custom-system-number-field-control {
	background:transparent;
	color:black;
	border:1px solid black;
}
.character input[type="radio"]::before, .equippableItem input[type="radio"]::before, .custom-dialog input[type="radio"]::before {
    content:"\f10c";
    color: black;
    font-weight:normal;
}
.character input[type="radio"]:checked::before, .character  input[type="radio"]:checked::after, .equippableItem input[type="radio"]:checked::before,  .equippableItem  input[type="radio"]:checked::after, .custom-dialog input[type="radio"]:checked::before, .custom-dialog  input[type="radio"]:checked::after {
    content: "\f192";
    color: black;
}
.character .content-link, .equippableItem .content-link, .custom-dialog .content-link {
  background:transparent;
  color: black;
  border: 0px;
}
.custom-system-user-input-button {
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove black;
    color: black
}
.custom-dialog .standard-form .form-footer > button {
  color:black;
  background:transparent;
  border: 2px groove black;
}
.custom-system-user-input-button[data-inputaction="sub-10"] {
	display:none;
}
.custom-system-user-input-button[data-inputaction="add-10"] {
	display:none;
}
span:has(>#tipo_tirada-0) {
	display:grid;
	grid-template-columns: 30% 30% 40%;
	grid-template-rows:50% 35%;
	height:50px;
	text-align:center;
}

span:has(>#profesion-0) {
	display:grid;
	grid-template-columns: 50% 50%;
	grid-template-rows:50% 35%;
	height:50px;
	text-align:center;
}
label[for="tipo_tirada-0"] {
	order:1;
}
#tipo_tirada-0 {
	order:4;
}
label[for="tipo_tirada-1"] {
	order:2;
}
#tipo_tirada-1 {
	order:5
}
label[for="tipo_tirada-2"] {
	order:3;
}
#tipo_tirada-2 {
	order:6;
}
label[for="profesion-0"] {
	order:1;
}
#profesion-0 {
	order:3;
}
label[for="profesion-3"] {
	order:2;
}
#profesion-3 {
	order:4
}
.custom-system-user-input-button[data-action="sub-10"] {
	display:none;
}
.custom-system-user-input-button[data-action="add-10"] {
	display:none;
}
.repdice {
	display:flex;
	justify-content: space-evenly;
}
.repdie {
	display:flex;
	flex-direction: column;
	text-align:center;
}
.repdie label {
	font-size:2rem;
	border:2px solid black;
	border-radius:9px;
	width:2.6rem;
	height:2.6rem;
}
.dice-roll .dice-tooltip {
	display: block;
}
.dice-tooltip .part-header {
	display:none;
}
.dice-roll .dice-formula {
	display:none;
}
.dice-tooltip .dice-rolls {
	display:flex;
	justify-content: space-evenly;
}
.dice-tooltip .dice-rolls .roll.d6 {
	font-size:20px;
	height:40px;
	width:40px;
	line-height:40px;
	background-size: 100% 100%;
}
.proezabutton {
	background:transparent;
	border: 2px solid red;
}
.chat-message .message-content h1 {
	text-align:center;
}
.chat-message .message-content h2 {
	text-align:center;
}
.chat-message .message-header .message-sender{
	text-align:center;
	font-size:1.5rem;
	color: black;
}
.checkhabfill {
	border: 2px solid black;
	border-radius:50%;
	max-height:20px;
	min-height:20px;
	height:20px;
	width:20px;
	background-color:black;
}
.checkhabnofill {
	border: 2px solid black;
	border-radius:50%;
	max-height:20px;
	min-height:20px;
	height:20px;
	width:20px;
}
.checkysys {
	margin:auto;
}
.checkysys input[type="checkbox"]{
	-webkit-appearance: initial;
    appearance: initial;
	border: 2px solid black;
	border-radius:50%;
	height:20px;
	width:20px;
	margin:auto;
}
.checkysys input[type="checkbox"]:checked{
	border: 2px solid black;
	border-radius:50%;
	height:20px;
	width:20px;
	background-color:black;
}
.panelhab  > :first-child{
	display:grid;
	grid-template-columns:50% auto auto auto;
	margin:0px;
	gap:0px;
}
.margin_zero {
	margin:0px;
}
.gap_zero  > :first-child{
	gap:0px;
}
.panelhabmag  > :first-child{
	gap:0px;
}
.panelatrmag  > :first-child{
	gap:0px;
	margin-top:20px;
}
.panelcentro {
	border-left: 2px solid black;
	border-right:2px solid black;
	padding-right:5px;
	margin-left:5px;
}
.valorhabcalc {
	font-family:'Candara_Bold';
	max-height:40px;
	min-height:40px;
	width:40px;
	height:40px;
	font-size:1.3em;
	border: 2px solid black;
	border-radius:50%;
	margin:auto;
}
.salmax {
	height:40px;
	width:40px;
}	
.salmax input[type="text"]{
	border:2px solid black;
	border-radius:50%;
	height:30px;
	width:30px;
	min-width:30px;
	font-family:'Candara_Bold';
	font-size:1.3em;
	background:transparent;
}
.valorhabcalc input[type="text"]{
	border:0px;
	background:transparent;
}
.valorpuntosexp input[type="text"]{
	border:2px solid black;
	border-radius:10px;
	height:30px;
	width:50%;
	font-family:'Candara_Bold';
	font-size:1.3em;
	background:transparent;
}
.habcalc {
	font-family:'Candara_Bold';
	font-size:1.4em;
	height:40px;
	margin:0px;
}
.habcalcsub {
	font-family:'Candara_Bold';
}
.panelhabcalc  > :first-child{
	display:grid;
	grid-template-columns: auto auto;
}
.panelhabcalcpro {
	margin-top:10px;
	padding-top:10px;
	border-top:2px solid black;
}
.panelproezas  > :first-child{
	gap:0px;
	display:grid;
	grid-template-columns: auto 20% 20%;
}
.titulosbig {
	font-family:'Candara_Bold';
	font-size:1.7em;
}
.panelcombat  > :first-child{
	display:grid;
	grid-template-columns: 20% 55% 25%;
}
.panelpuntexp {
	margin-top:10px;
}
.paneltab .tabs {
	font-family:'Candara_Bold';
	font-size:1.5em;
}
.paneltab nav.sheet-tabs {
	border-color:black;
	border-width:2px;
}
.desctitle {
	font-family:'Candara_Bold';
	font-size:1.2em;
}
.desctitle input[type="text"]{
	font-family:'Candara';
	font-size:1em;
	background:transparent;
	border-width: 0px 0px 1.5px 0px;
	border-color:black;
	border-radius:0px;
	text-align:left;
}
.panelhab {
	font-family:'Candara_Bold';
	font-size:1.2em;
}
.textolargo {
	font-family:'Candara';
	font-size:1.2em;
}
.combtable table{
	background:transparent;
	border:0px;
	font-family:'Candara_Bold';
	font-size:1.2em;
}
.armainput input[type="text"]{
	font-family:'Candara';
	font-size:1em;
	background:transparent;
	border-width: 0px 0px 1.5px 0px;
	border-color:black;
	border-radius:0px;
}
.danoinput input[type="text"]{
	font-family:'Candara';
	font-size:1em;
	background:transparent;
	border-width: 0px 0px 1.5px 0px;
	border-color:black;
	border-radius:0px;
}
.nompert input[type="text"]{
	font-family:'Candara';
	font-size:1em;
	background:transparent;
	border-width: 0px 0px 1.5px 0px;
	border-color:black;
	border-radius:0px;
}
.tablapert table{
	background:transparent;
	border:0px;
	font-family:'Candara_Bold';
	font-size:1.2em;
}
.panelprot {
	font-family:'Candara_Bold';
	font-size:1.1em;
}
.panelprot .flexcol{
	align-items:center;
}
.inpprot input[type="text"]{
	font-family:'Candara';
	font-size:1em;
	background:transparent;
	border-width: 0px 0px 1.5px 0px;
	border-color:black;
	border-radius:0px;
}
.salesttable table {
	background:transparent;
	border:0px;
}
.salesttable table td div {
	margin:0px;
}
.salesttable table td {
	padding:2px 0px 0px 0px;
}
.salesttable table tr:first-child{
	border-bottom:1.5px solid black;
}
.salesttable table tr:nth-child(3){
	border-top:1.5px solid black;
}
.salesttable table tr:nth-child(2) p{
	margin:0px;
}
.salesttable table tr:nth-child(2) td{
	padding:0px 0px 3px 0px;
}
.salesttable table td:nth-child(1), .salesttable table td:nth-child(3), .salesttable table td:nth-child(6), .salesttable table td:nth-child(10), .salesttable table td:nth-child(15) {
	border-right:1.5px solid black;
}
.salesttable table tr:nth-child(1) td:nth-child(1), .salesttable table tr:nth-child(1) td:nth-child(2), .salesttable table tr:nth-child(1) td:nth-child(3) {
	background-color:darkred;
}
.salesttable table tr:nth-child(1) td:nth-child(4), .salesttable table tr:nth-child(1) td:nth-child(5), .salesttable table tr:nth-child(1) td:nth-child(6) {
	background-color:red;
}
.salesttable table tr:nth-child(1) td:nth-child(7), .salesttable table tr:nth-child(1) td:nth-child(8), .salesttable table tr:nth-child(1) td:nth-child(9), .salesttable table tr:nth-child(1) td:nth-child(10) {
	background-color:orangered;
}
.paneltitulosalud  > :first-child{
	display:grid;
	width:100%;
	gap:0px;
	grid-template-columns:3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33%;
}
.paneltitulosalud div:nth-child(1){
	grid-column: 1 / span 3;
	font-family:'Candara_Bold';
	font-size:1.1em;
}
.paneltitulosalud div:nth-child(2){
	grid-column: 4 / span 3;
	font-family:'Candara_Bold';
	font-size:1.1em;
}
.paneltitulosalud div:nth-child(3){
	grid-column: 7 / span 4;
	font-family:'Candara_Bold';
	font-size:1.1em;
}
.paneltitulosalud div:nth-child(4){
	grid-column: 11 / span 9;
}
.paneltitulosalud div:nth-child(5){
	grid-column: 22 / span 3;
	font-family:'Candara_Bold';
	font-size:0.9em;
}
.paneltitulosalud div:nth-child(6){
	grid-column: 26 / span 3;
	font-size:0.9em;
}
.paneltitulosalud div:nth-child(7){
	grid-column: 29 / span 2;
}
.paneltituloestab > :first-child{
	display:grid;
	width:100%;
	gap:0px;
	grid-template-columns:3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33% 3.33%;
}
.paneltituloestab div:nth-child(1){
	grid-column: 11 / span 9;
}
.paneltituloestab div:nth-child(2){
	grid-column: 22 / span 3;
	font-family:'Candara_Bold';
	font-size:0.9em;
}
.paneltituloestab div:nth-child(3){
	grid-column: 26 / span 3;
	font-size:0.9em;
}
.paneltituloestab div:nth-child(4){
	grid-column: 29 / span 2;
}
.proftitle label{
  white-space: nowrap;
}
.chat-message {
	background: url('../assets/OLD_PAPER_TEXTURE.jpg')center;
	background-repeat: no-repeat;
 	background-size: 100% 100%;
	font-family:'Candara';
}
.chat-message .message-header .message-sender {
	font-family:'Candara_Bold';
	font-size: 2em;
}
.chat-message .message-content h1 {
	font-family:'Candara_Bold';
	font-size:2em;
}
.chat-message .message-content h2 {
	font-family:'Candara_Bold';
	border:0px;
}
.chat-message .message-content h3 {
	font-family:'Candara_Bold';
	border:0px;
}
.dice-roll .dice-total {
	border:0px;
	background: transparent;
	font-size: 2.3em;
	margin:15px;
}
.dice-tooltip .dice-rolls {
	justify-content: center;
}
.proezabutton {
	font-family:'Candara_Bold';
	font-size: 1.5em;
	border: 2px solid var(--color-underline-header);
	background-color: #782e222b;
	margin: auto;
}
.editpanel  > :first-child{
	gap:0px;
	margin:0px;
}
.formulatext {
	white-space:no-wrap;
	font-family:'Candara_Bold';
}
.paneledit {
	font-family:'Candara_Bold';
	margin:0px;
	gap:0px;
}
.paneledit grid{
	font-family:'Candara_Bold';
	margin:0px;
	gap:0px;
}
.paneledit  input[type="text"]{
	border-style: solid;
	border-color:black;
	border-width: 0px 0px 1.5px 0px;
	border-radius:0px;
	background:transparent;
	padding:0px;
	min-width:10px;
	margin:0px;
}
.paneledit  select{
	border-style: solid;
	border-color:black;
	border-width: 0px 0px 1.5px 0px;
	border-radius:0px;
	background:transparent;
	margin:0px;
}
.tituloedit {
	font-size: 1.3em;
	text-transform:uppercase;
}
.panelhabedit {
	border-top:2px solid black;
	margin-top:10px;
	padding-top:10px;
}
.borderright {
	border-right:2px solid black;
	padding-right:10px;
}
.logowal {
	background: url('../assets/Logo Walhalla.webp')center;
	background-repeat: no-repeat;
 	background-size: 100% 100%;
	width:20px;
	height:20px;
	margin:0px;
}
.panelhabcuervos  > :first-child{
    display: grid;
    grid-template-columns: 6% 49% auto auto auto;
    margin: 0px;
    gap: 0px;
	font-family: 'Candara_Bold';
    font-size: 1.2em;
}
.paneldios {
	font-family: 'Candara_Bold';
    font-size: 1.2em;
}
.charname input[type="text"]{
	font-family: 'Candara_Bold';
    font-size: 35px;
	background:transparent;
	border-width: 0px 0px 2px 0px;
	border-color:black;
	border-radius:0px;
}
.salesttableca table {
	background:transparent;
	border:0px;
}
.salesttableca table td div {
	margin:0px;
}
.salesttableca table td {
	padding:2px 0px 0px 0px;
}
.salesttableca table tr:first-child{
	border-bottom:1.5px solid black;
}
.salesttableca table tr:nth-child(3){
	border-top:1.5px solid black;
}
.salesttableca table tr:nth-child(2) p{
	margin:0px;
}
.salesttableca table tr:nth-child(2) td{
	padding:0px 0px 3px 0px;
}
.salesttableca table td:nth-child(1), .salesttableca table td:nth-child(3), .salesttableca table td:nth-child(6), .salesttableca table td:nth-child(10) {
	border-right:1.5px solid black;
}
.salesttableca table tr:nth-child(1) td:nth-child(1), .salesttableca table tr:nth-child(1) td:nth-child(2), .salesttableca table tr:nth-child(1) td:nth-child(3) {
	background-color:red;
}
.salesttableca table tr:nth-child(1) td:nth-child(4), .salesttableca table tr:nth-child(1) td:nth-child(5), .salesttableca table tr:nth-child(1) td:nth-child(6) {
	background-color:orangered;
}
.dadoblanco {
	background: url('../assets/dadoblanco.webp')center;
	background-repeat: no-repeat;
 	background-size: 100% 100%;
  width:40px;
	height:40px;
	margin:0px;
}
.dadonegro {
	background: url('../assets/dadonegro.webp')center;
	background-repeat: no-repeat;
 	background-size: 100% 100%;
	width:40px;
	height:40px;
	margin:0px;
}
.paneldado  > :first-child{
	display:grid;
	grid-template-columns:50% auto;
	margin:0px;
	gap:0px;
}
.dice-tooltip .tooltip-part:nth-child(1) .dice-rolls .roll.d6 {
  background:black;
  color:white;
  font-size:30px;
  height:35px;
  width: 35px;
  border:0px;
  border-radius:5px;
  text-align:center;
  position: relative;
    line-height: 100%;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    font-weight: normal;
  box-shadow: 2px 2px 5px black;
  margin:5px;
}
.dice-tooltip .tooltip-part:nth-child(2) .dice-rolls .roll.d6 {
  background:transparent;
  color:black;
  font-size:30px;
  height:35px;
  width: 35px;
  border:0px;
  border-radius:5px;
  text-align:center;
  position: relative;
    line-height: 100%;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    font-weight: normal;
  box-shadow: 2px 2px 5px black;
  margin:5px;
}
.dice-tooltip .tooltip-part:nth-child(3) .dice-rolls .roll.d6 {
  background:red;
  color:white;
  font-size:30px;
  height:35px;
  width: 35px;
  border:0px;
  border-radius:5px;
  text-align:center;
  position: relative;
    line-height: 100%;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    font-weight: normal;
  box-shadow: 2px 2px 5px black;
  margin:5px;
}
input[type=text] {
	box-shadow:0px 0px;
}
.checkysys input[type="checkbox"]::before {
    content: "";
}
.checkysys input[type="checkbox"]:checked::after {
    content: "";
}